<div [ngSwitch]="energyClass">
  <div *ngSwitchCase="'APP'"> <div class="square rounded appColor"></div> </div>
  <div *ngSwitchCase="'AP'"> <div class="square rounded apColor"></div> </div>
  <div *ngSwitchCase="'A'"> <div class="square rounded aColor"></div> </div>
  <div *ngSwitchCase="'B'"> <div class="square rounded bColor"></div> </div>
  <div *ngSwitchCase="'C'"> <div class="square rounded cColor"></div> </div>
  <div *ngSwitchCase="'D'"> <div class="square rounded dColor"></div> </div>
  <div *ngSwitchCase="'E'"> <div class="square rounded eColor"></div> </div>
  <div *ngSwitchCase="'F'"> <div class="square rounded fColor"></div> </div>
  <div *ngSwitchCase="'G'"> <div class="square rounded gColor"></div> </div>
</div>
