.square{
  width: 25px;
  height: 25px;
}

.rounded{
  border-radius: 100%;
}

.aColor{
  background-color: #33A357;
}

.bColor{
  background-color: #79B752;
}

.cColor{
  background-color: #C3D545;
}

.dColor{
  background-color: #FFF12C;
}

.eColor{
  background-color: #F37022;
}

.fColor{
  background-color: #D66F2C;
}

.eColor{
  background-color: #CC232A;
}

.gColor{
  background-color: #CC232A;
}

.flex {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex p {
  margin: 0 0 0 5px;
}
