<mat-card>
  <mat-card-header>
    <mat-card-title>Сравни устройства</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="grid-container">
      <div class="grid-col padding-right">
        <app-device-info [device]="firstDevice"></app-device-info>
        <app-select-device [devices]="devices" (deviceSelect)="onSelectDevice($event, 1)"></app-select-device>
      </div>
      <div class="grid-col padding-left">
        <app-device-info [device]="secondDevice"></app-device-info>
        <app-select-device [devices]="devices" (deviceSelect)="onSelectDevice($event, 2)"></app-select-device>
      </div>
    </div>
  </mat-card-content>
</mat-card>
