<mat-card>
  <mat-card-header>
    <mat-card-title>Сравни устройства</mat-card-title>
    <button mat-stroked-button (click)="clearDevices()">Изчисти</button>
  </mat-card-header>
  <mat-card-content *ngIf="!reset">
    <div class="grid-container">
      <div class="grid-col padding-right">
        <app-device-info [device]="firstDevice!"
                         [highlightFields]="firstDeviceHighlight!"></app-device-info>
        <app-select-device [device]="firstDevice!"
                           [devices]="devices"
                           (deviceSelect)="onSelectDevice($event, 1)"></app-select-device>
      </div>
      <div class="grid-col padding-left">
        <app-device-info [device]="secondDevice!"
                         [highlightFields]="secondDeviceHighlight!"></app-device-info>
        <app-select-device [device]="secondDevice!"
                           [devices]="devices"
                           (deviceSelect)="onSelectDevice($event, 2)"></app-select-device>
      </div>
    </div>
  </mat-card-content>
</mat-card>
