mat-card {
  max-width: 712px;
  max-width: 90%;
  height: 85%;
  display: block;
  margin: 20px auto 0;
  overflow: hidden;
}
mat-card mat-card-content {
  width: 100%;
  height: 100%;
}
mat-grid-list {
  height: 100%;
}
mat-card mat-card-content mat-form-field {
  width: 90%;
  display: block;
  margin-bottom: -15px;
}
mat-card-title {
  margin-top: 12px;
}
.border-right {
  border-right: 1px solid gray;
}
.border-left {
  border-left: 1px solid gray;
}
mat-grid-tile {
  height: 55%;
}
mat-grid-tile >::ng-deep .mat-grid-tile-content {
  align-items: end;
}
