mat-card {
  width: 90%;
  height: 90%;
  display: block;
  margin: 20px auto 0;
}
mat-card-header {
  justify-content: space-between;
}
mat-card-title {
  margin-top: 12px;
}
mat-grid-tile >::ng-deep .mat-grid-tile-content {
  align-items: end;
}
mat-card-content {
  height: 100%;
}
.grid-container {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.grid-container .grid-col {
  width: calc(100%/2);
  height: 100%;
}
.grid-container .grid-col.padding-left {
  padding-left: 15px;
}
.grid-container .grid-col.padding-right {
  padding-right: 15px;
}
.grid-container .grid-col:nth-child(1) {
  border-right: 1px solid gray;
}
