<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Изчисли своя</mat-card-subtitle>
    <mat-card-title>Въглероден отпечатък</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="deviceData">
        <ng-template matStepLabel>Характеристика на устройството</ng-template>
        <app-device-data [(deviceData)]="deviceData"></app-device-data>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Работа</ng-template>
        <app-device-usage [(hoursUsed)]="deviceUsage"></app-device-usage>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Резултат</ng-template>
        <app-device-score [carbonFootprint]="deviceFootprint"></app-device-score>
        <button mat-stroked-button color="basic" (click)="saveDevice()">Запази устройство</button>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
