<mat-card>
  <mat-card-header>
    <div class="grid">
      <div class="col-main">
        <mat-card-subtitle>Изчисли своята</mat-card-subtitle>
        <mat-card-title>Енергийна ефективност</mat-card-title>
      </div>
      <div class="col-second">
        <button mat-raised-button color="accent">
          <mat-icon fontIcon="qr_code_scanner"></mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-stepper [linear]="true" #stepper (selectionChange)="calculateFootprint()">
      <mat-step [stepControl]="deviceData">
        <ng-template matStepLabel>Характеристика на уреда</ng-template>
        <app-device-data [deviceData]="deviceData"></app-device-data>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Работа</ng-template>
        <app-device-usage [(hoursUsed)]="deviceUsage"></app-device-usage>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Резултат</ng-template>
        <app-device-score [carbonFootprint]="deviceFootprint"></app-device-score>
        <button mat-raised-button color="primary" (click)="saveDevice()">Запази електроуред</button>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
