<form [formGroup]="deviceData">
  <mat-form-field appearance="fill">
    <mat-label>Прякор на уреда (пример: Климатик в хола)</mat-label>
    <input matInput formControlName="name" type="text">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Вид устройство</mat-label>
    <input matInput type="text"
           placeholder="Pick one"
           formControlName="deviceType"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{enToBg(option)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Мощност (кВч)</mat-label>
    <input matInput formControlName="power" type="number" id="power">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Енергийски класове</mat-label>
    <mat-select formControlName="energyClass">
      <mat-option [value]="'A'">A</mat-option>
      <mat-option [value]="'B'">B</mat-option>
      <mat-option [value]="'C'">C</mat-option>
      <mat-option [value]="'D'">D</mat-option>
      <mat-option [value]="'E'">E</mat-option>
      <mat-option [value]="'F'">F</mat-option>
      <mat-option [value]="'G'">G</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Гаранция (месеци)</mat-label>
    <input matInput formControlName="warranty" type="number">
  </mat-form-field>
  <div class="bottom-buttons">
    <button mat-raised-button matStepperNext color="warn">
      Продължи
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="startScan()" type="button">
      <mat-icon fontIcon="qr_code_scanner"></mat-icon>
    </button>
  </div>
</form>
