<mat-toolbar color="primary">
  <div class="grid-container">
    <div class="col-second">
      <button mat-icon-button (click)="updateNavState(!showNav)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="col-main">
      <h1>EcoMeter</h1>
      <img src="assets/EcoMeter.png" alt="EcoMeter logo"/>
      <button mat-icon-button (click)="onOpenFeedbackDialog()">
        <mat-icon fontIcon="rate_review"></mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="showNav">
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
