<form>
  <label for="deviceType">Вид устройство</label>
  <select id="deviceType">
    <option value="хладилник">Хладилник</option>
    <option value="печка">Печка</option>
    <option value="климатик">Климатик</option>
    <option value="микровълнова">Микровълнова</option>
    <option value="пералня">Пералня</option>
    <option value="сушилня">Сушилня</option>
    <option value="съдомиялна">Съдомиялна</option>
    <option value="компютър">Компютър</option>
    <option value="принтер">Принтер</option>
  </select>
</form>
