mat-toolbar button {
  margin-right: 20px;
}
mat-sidenav-container {
  width: 100%;
  height: calc(100vh - 64px);
}
mat-sidenav-container mat-sidenav {
  min-width: 20%;
  max-width: 316px;
  height: 100%;
}

img{
  width: 48px;
  margin-right: 20px;
}
