<div class="dialog">
  <h1 mat-dialog-title>Обратна връзка</h1>
  <div mat-dialog-content>
    <app-stars-rating [currentRating]="rating" (ratingChange)="onRatingChanged($event)"></app-stars-rating>
    <mat-form-field appearance="fill">
      <mat-label>Коментар</mat-label>
      <textarea matInput placeholder="Напиши своята обратна връзка..." [(ngModel)]="comment"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClose()">Затвори</button>
    <button mat-raised-button color="primary" (click)="onSend()">Изпрати</button>
  </div>
</div>
