<div class="select-device">
  <div class="grid-container">
    <mat-list *ngIf="!device">
      <div class="list-item" *ngFor="let deviceItem of devicesToChoose">
        <mat-list-item (click)="onSelectDevice(deviceItem.uuid)">
          <p>{{deviceItem.name}}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
    <mat-list-item *ngIf="device">
      <p>Избрано устройство {{device.name}}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </div>
</div>
