<!--accent = yellow-->

<mat-card>
  <mat-list>
    <h2 style="padding-left: 5px">Всички ваши електроуреди</h2>
    <mat-list-item>
      <mat-icon mat-list-icon>computer</mat-icon>
      <h4 mat-line>Хладилника в кухнята</h4>
      <p mat-line class="demo-2"> Хладилник </p>
      <button mat-icon-button class="two_arrows"  aria-label="Compare">
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button mat-icon-button class="edit_pencil" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="trash_can" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon mat-list-icon >mode_fan</mat-icon> <!-- Icon for mode fan is showing edit icon! -->
      <h4 mat-line>Климатика в детската</h4>
      <p mat-line class="demo-2"> Климатик </p>
      <button mat-icon-button class="two_arrows"  aria-label="Compare">
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button mat-icon-button class="edit_pencil" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="trash_can" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>local_laundry_service</mat-icon>
      <h4 mat-line>Микровълнова 3</h4>
      <p mat-line class="demo-2"> Микровълнова печка</p>
      <button mat-icon-button class="two_arrows"  aria-label="Compare">
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button mat-icon-button class="edit_pencil" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="trash_can" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>dry</mat-icon>
      <h4 mat-line>Сушилня / банята</h4>
      <p mat-line class="demo-2"> Сушилня </p>
      <button mat-icon-button class="two_arrows"  aria-label="Compare">
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button mat-icon-button class="edit_pencil" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="trash_can" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>dishwasher_gen</mat-icon>
      <h4 mat-line>Бойлер / баня</h4>
      <p mat-line class="demo-2"> Бойлер </p>
      <button mat-icon-button class="two_arrows"  aria-label="Compare">
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button mat-icon-button class="edit_pencil" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="trash_can" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>dishwasher_gen</mat-icon>
      <h4 mat-line>Пералня / баня</h4>
      <p mat-line class="demo-2"> Пералня </p>
      <button mat-icon-button class="two_arrows"  aria-label="Compare">
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <button mat-icon-button class="edit_pencil" aria-label="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="trash_can" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

</mat-card>
