<mat-card>
  <mat-card-header>
    <mat-card-title>Всички ваши електроуреди</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4 *ngIf="devices.length === 0">Няма намерени уреди...</h4>
    <mat-list>
      <mat-list-item *ngFor="let device of devices">
        <mat-icon mat-list-icon>computer</mat-icon>
        <h4 mat-line>{{device.name}}</h4>
        <p mat-line>{{getDeviceTypeInLocalLanguage(device.typeOfDevice)}}</p>
        <button mat-icon-button color="primary" aria-label="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Compare">
          <mat-icon>compare_arrows</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(device)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<div class="fab">
  <span class="default-text">+</span>
  <span class="hover-text">Добави</span>
</div>

