/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center {
  text-align: center;
}
.mat-step-header .mat-step-icon-selected {
  background-color: #E56A27;
}
.dialog {
  height: 100%;
  position: relative;
}
div[mat-dialog-actions] {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
video {
  width: 100%;
  max-height: 320px;
}
@media only screen and (max-width: 992px) {
  video {
    max-height: 256px;
  }
}
